 <div class="info_user">
        <p>Username: @ViewBag.username</p>
        <p>Puntaje: @ViewBag.PuntajeActual</p>
</div>

      <form action='@Url.Action("VerificarRespuesta","Home")' method="post" class="pregunta">
        <div class="enunciado">
            <p>@ViewBag.pregunta.Enunciado</p>
        </div>
        <div class="input_container_res">
        @{
            foreach (Respuestas res in ViewBag.respuestas)
            {
                <div class="res_option_@res.Correcta.ToString()">
                    <input name="categoria" type="radio" value="@res.idRespuesta">
                </div>
            }
        }
        </div>
        <input type="submit" value="Verificar" class="jugar">
    </form>
  